.app_bar
    z-index: 100
    height: 50px

.toolbar
    display: flex
    align-items: center
    height: 100%
    gap: 15px
    justify-content: flex-start
    background-color: #27272A
    padding: 0 10px
    border-bottom: 1px solid #414144

.icon
    color: #A1A1AA

