.tableTemplate
	background-color: #27272A
	height: fit-content
	width: 100%
	padding: 0
	padding-bottom: 10px
	color: #A1A1AA
	border-top: 1px solid #414144

.table
	border-spacing: 20
	border-radius: 10px
	height: fit-content
	width: 100%
	border-collapse: collapse

.tableHeaderRow
	border-bottom: 1px solid #414144

.tableHeaderCell
	text-align: left
	white-space: nowrap
	padding: 16px 0 8px 12px
	font-size: 13px
	font-width: 100

.tableRow
	color: #FFFFFF
	font-size: 13px
	border-bottom: 1px solid #414144
	&:last-child
		border-bottom: none

.tableCell
	padding: 12px
	& > p
		font-size: 14px
